@font-face {
  font-family: mainFont;
  src: url("fonts/PressStart2P.ttf");
}


* {
  box-sizing: content-box;
  padding: 0;
  margin: 0;
}


body {
  background: rgb(199, 188, 204);
  width: 100%;
  overflow-x: hidden;
}


div {
  top: 0;
  position: absolute;
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}